<!DOCTYPE html>
<html lang="fr">
<head>
    <head>
        <link href="../public/css/main.css" rel="stylesheet"/>
        <link href="../public/css/blog.css" rel="stylesheet"/>
        <link href="../public/css/global.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,400&amp;display=swap" rel="stylesheet">
        
        <title>Digital Consultant</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Digital Consultant Website">
        <meta charset="utf-8"/>
        <link rel="icon" type="image/png" href="public/images/logo-png.png"/>
        <!-- rajouter un champ description balise meta -->
        <!-- <link rel="apple-touch-icon" sizes="180x180" href="public/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="public/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="public/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="public/images/favicon/site.webmanifest"> -->
        <script src="../public/js/main.js"></script>
        <script src="../public/js/blog.js"></script>
</head>
<body>
    <header>
        <nav class="nav-size">
            <div class="img-resize">
                <img src="../public/images/logo-png.png" alt="icon" class="icon" id="icon">
            </div>
            <div id="navbar">
                <a href="../index.html">Accueil</a>
                <a href="../index.html#about">À propos</a>
                <a href="../index.html#services">Services</a>
                <a href="../index.html#partenaires">Partenaires</a>
                <a href="../index.html#avis">Blog</a>
                <a href="#contact">Contact</a>
            </div>
        </nav>
    </header>

    <main>
        <section id="comments" class="about-resize">
            <header style="margin-top: 3vh; margin-bottom: 3vh;">
                <h2>Donnez nous votre avis</h2>
            </header>
            <div id="comments-list">
                <article id="comment-0" class="border-gray round pad-2 margb-3">
                    <header class="margb-2 bord-bottom">
                        <strong class="strong-block">Parent Kylian</strong>
                        <time datetime="2021-11-29 12:29:34" class="strong-block italic">le 29 janvier 2021 à 12h29</time>
                    </header>
                    <p>
                        Professionalisme au rendez-vous !
                    </p>
                </article>
                <article id="comment-1" class="border-gray bord-dark round pad-2 margb-3">
                    <header class="margb-2 bord-bottom">
                        <strong class="strong-block">Djelloul Mohamed</strong>
                        <time datetime="2021-11-29 14:13:42" class="strong-block italic">le 30 février 2021 à 14h13</time>
                    </header>
                    <p>
                        Services de qualité, je recommande
                    </p>
                </article>
            </div>
            <form action="#" method="post" onSubmit="return false;" id="new-comment">
                <div class="margb-3 disp-flex items-center">
                    <label for="nom" class="form-marg mer-2">Nom</label>
                    <input type="text" class="form-ctrl" id="nom" name="nom">
                </div>
                <div class="margb-3">
                    <textarea class="form-ctrl" id="message-content" placeholder="Votre message ici..." rows="3"></textarea>
                </div>
                <div class="margb-3">
                    <input type="submit" class="btn-class btn-prm" value="Envoyer" onclick="onReceived()" >
                </div>
            </form>
        </section>
    </main>
        <footer id="contact">
            <div class="about-resize">
                <!-- <h3 style="margin-bottom: 2%; font-size: 3vh;">Contact</h3> -->
                <div class="list-project" style="font-size: 1.7vh;   align-items: center;
                justify-content: center;">
                    <div class="alignement">
                        <img class="banniere" src="../public/images/banniere.png" style="margin-bottom: 2vh;" alt="Bannière" width="350" height="150">
                        <p id="description-contact">Digital Consultant (DC) est une entreprise pluridisciplinaire spécialisée
                            dans la transition numérique des petites et moyennes entreprises. Nous
                            sommes composés de professionnels indépendants expérimentés qui
                            collaborent régulièrement ensemble.</p>
                    </div>
                    <div class="alignement margin-footer-title" id="list-contact">
                        <h3 id="title-contact">Contact</h3>
                        <article>
                            <p>430 Rue Pierre Simon Laplace, 13290 Aix-en-Provence</p>
                        </article>
                        <article>
                            <p>+33 6 35 08 38 62</p>
                        </article>
                        <article>
                            <p>+33 4 94 12 45 23</p>
                        </article>
                    </div>
                    <div class="alignement margin-footer-title">
                        <h3 id="title-acces">Accès Rapide</h3>
                        <nav class="nav-footer">
                            <ul class="no-pins" id="list-acces">
                                <li><a href="./mentions.html">Mentions Légales</a></li>
                                <li><a href="#galerie">Galerie</a></li>
                                <li><a href="#avis">Avis</a></li>
                                <li><a href="#">Blog</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div>
                    <h3 class="contact-position">Une question ? Contactez-nous</h3>
    
                    <form method="post" class="formulaire" action="#">
                        <input type="text" placeholder="Nom" class="case-form"/>
                    <input type="text" placeholder="Prénom" class="case-form"/>
                    <input type="email" placeholder="Email" class="case-form"/>
                    <input type="tel" placeholder="Numéro De Téléphone" class="case-form"/>
                        <textarea placeholder="Message" class="case-form area_style"></textarea>
                    </form>
                    <div class="button_align">
                        <a class="button_form" id="button_form" href="#services">Envoyer</a>
                    </div>
                </div>
                <p class="copyright" id="copyright">2022 Campus Academy All Rights Reserved</p>
            </div>
        </footer>
    </body>
</html>