.round {
    border-radius: .25rem!important;
}

.pad-2 {
    padding: .5rem!important;
}

.margb-3 {
    margin-bottom: 1rem!important;
}

.border-gray {
    border: 1px solid #dee2e6!important;
}

.bord-dark {
    border-color: #212529!important;
}

.margb-2 {
    margin-bottom: .5rem!important;
}

.bord-bottom {
    border-bottom: 1px solid #dee2e6!important;
}

.strong-block {
    display: block!important;
}

b, strong {
    font-weight: bolder;
}

.italic {
    font-style: italic!important;
}

.items-center {
    align-items: center!important;
}

.disp-flex {
    display: flex!important;
}

.mer-2 {
    margin-right: .5rem!important;
}

.form-marg {
    margin-bottom: .5rem;
}

label {
    display: inline-block;
}

.form-ctrl {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-prm {
    color: #fff;
    background-color: #4CAF50;
    border-color: #4CAF50;
}

.btn-class {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}