/* Pour les mobiles */

@media screen and (min-width: 640px) {
    .list-project {
        flex-basis: 100%;
    }
}


/* Pour les tablettes */

@media screen and (min-width: 768px) {
    .list-project {
        flex-basis: 50%;
    }
}


/* Pour les moniteurs */

@media screen and (min-width: 960px) {
    .list-project {
        flex-basis: 33%;
    }

    li>a {
        font-size: 1.1em;
        /* 1em = 16px */
    }

    .nav-size ul {
        width: 20%;
        height: 1.5vh;

    }
}

* { /* à mettre partout, créer un fichier css global ? */
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    scroll-behavior: smooth;
}

.line-size {
    width: 75%;
    margin: auto
}

.about {
    background-color: white;
    height: 100vh;
    width: 100%;
}

.align-center {
    text-align: center;
    align-items: center;
}

.text-alignement {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
}

.text-alignement > h1 {
    font-size: 6vh;
}

.text-alignement > h3 {
    font-size: 4vh;
}

.typing-effect h3 {
    overflow: hidden; /* permet que le texte est pas affiché avant que l'animation soit terminée */
    border-right: .15em solid black;
    white-space: nowrap;
    margin: 0 auto;
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
}
  
@keyframes typing {
    from { width: 0 }
    to { width: 70% } /* longueur max du typing (à revoir, bug suivant la taille de l'écran) */
}

/* L'effet de typing */
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: black }
}

div > .buttons {
    display: inline-block;
    background-color: #4CAF50;
    border-radius: 3px;
    color: white;
    padding: 1%;
    margin: 0.5%;
    margin-top: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 1.25vh;
    width: 10%;
    box-shadow: 0 8px 16px 0 grey;
    transition: background-color 1s;
}

div > .buttons:hover {
    background-color: #367a39;
}

.button_form:hover{
    background-color: #367a39;
}

.button_form {
    background-color: #4CAF50;
    border-radius: 3px;
    color: white;
    padding: 1.3%;
    margin: 0.5%;
    margin-top: 2%;
    text-align: center;
    text-decoration: none;
    font-size: 1.25vh;
    width: 8%;
    box-shadow: 0 8px 16px 0 grey;
    transition: background-color 1s;
}

.button_align {
    display: flex;
    justify-content: center;
}

.about-resize {
    display: inline-block;
    justify-content: center;
    margin: 3% 4% 5% 14%;
    width: 50%
}

.list-project {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200%;
    max-width: 1512px;
}

.case {
    width: 25vw;
    margin-right: 2vw;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 grey;
    padding: 2rem 2rem;
}

.case-title {
    font-size: 2rem;
}

.alignement {
    width: 25vw;
    margin-right: 2vw;
    border-radius: 10px;
    padding: 2rem 2rem;
}

.alignement a:hover {
    color: #4CAF50;
    transition: 0.5s;
}

.nav-size {
    text-align: center;
    height: 5%;
    box-shadow: 0 1px 10px 0 grey;
}

.nav-size{
    position: fixed;
    width: 100%;
    z-index: 10;
    background-color: #f0f0f0;
}

.img-resize{
    float: left;
    margin-top: 1.1%;
    margin-left: 12%;
}

.nav-size ul {
    display: inline-flex;
    justify-content: center;
    white-space: nowrap;
}

.nav-size ul > li{
    list-style-type: none;
    padding: 3% 6%;
}

.nav-size > ul > li > a{
    text-align: center;
    color: black;
    font-weight: bold;
    text-decoration: none;
    font-size: 0.9vw;
}

a > img{
    width: 3.5vw;
    height: 3vh;
    margin-top: -16px;
}

.nav-footer > ul > li > a {
    color: black;
    text-decoration: none;
}

.nav-size a:hover{
    color: #199688;
    transition: 0.5s;
}

.margin-footer-title {
    margin-top: 3vh;
}

#contact {
    box-shadow: 0 1px 10px 0 grey;
}

.copyright {
    color: rgb(160, 160, 160);
    text-align: center;
    margin-top: 5vh;
}


/* BANDEAU DEFILANT PARTENAIRE*/

.slider {
    height: 250px;
    margin: auto;
    position: relative;
    width: 145%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}

.slider-avis {
    height: 300px;
    margin: auto;
    position: relative;
    width: 145%;
    display: grid;
    place-items: center;
    overflow-x: hidden;
    overflow-y: hidden;
}


.slide-track {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 40s linear infinite;
}

.slide-track-avis {
    display: flex;
    width: calc(250px * 18);
    animation: scroll 80s linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}

.slide {
    height: 250px;
    width: 250px;
    display: flex;
    align-items: center;
    padding: 15px;
    perspective: 100px;
}

.slide-avis {
    height: 250px;
    width: 350px;
    display: flex;
    align-items: center;
    padding: 10px;
    perspective: 100px;
}

.slide-avis > div { 
    width: 100%;
}

.slide > img { 
    width: 100%;
}

img:hover {
    transform: translateZ(20px);
    transition: transform 1s;
}

/* Effet Shadow*/

.slider::before,
.slider::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    width: 15%;
    position: absolute;
    z-index: 2;
}

.slider::before {
    left: 0;
    top: 0;
}

.slider::after {
    right: 0;
    top: 0;
    transform: rotateZ(100deg);
}


.slider-avis::before,
.slider-avis::after {
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
    rgba(255,255,255,0) 100%);
    content: '';
    height: 100%;
    width: 15%;
    position: absolute;
    z-index: 2;
}

.slider-avis::before {
    left: 0;
    top: 0;
}

.slider-avis::after {
    right: 0;
    top: 0;
    transform: rotateZ(100deg);
}

.no-pins {
    text-decoration: none;
    list-style-type: none;
}

.square-pins {
    margin-left: 2%;
    list-style-type: square;
}

/* Hover animation */

.slide img:hover {
	cursor: pointer;
}

.slide img {
	filter: grayscale();
	transition: all 1s ease-in-out
}

.slide:hover img {
	filter: none;
}

.avis {
    width: 30vw;
    margin-right: 1vw;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 grey;
    padding: 2rem 1.5rem;
}

/* Contact Style */

.formulaire {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.area_style {
    width: 750px; 
    height: 110px; 
    padding-top: 10px; 
    padding-left: 10px;
}

.contact-position {
    text-align: center;
    height: 10vh;
    font-size: 3vh;
    margin-top: 3vh;
}

.submit_button {
    background: #27AE60;
    border-color: rgb(46, 158, 74);
    color: white;
    width: 143px;
    height: 42px;
    font-size: 14px;
    margin: 20px 0;
    margin-left: 880px;
    border-width: 2px;
    border-style: solid
}

.case-form {
    resize: none;
    height: 40px;
    border: transparent;
    border-bottom: 2px solid #4F4F4F;
    color: #4F4F4F;
    font-weight: bold;
    font-size: 14px;
    padding: 5px;
    margin: 20px
}